RSS does not validate

The RSS feed does not validate (fails with errors).  There is a [post](https://www.reddit.com/r/bugs/comments/477nm5) on /r/bugs about this.

Ex: [PlantedTank.rss](https://www.reddit.com/r/PlantedTank.rss) [validator.w3.org/check](https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fwww.reddit.com%2Fr%2FPlantedTank.rss)

Errors:
* /feed/id = /r/PlantedTank.rss
* /feed/entry[0]/id = t3_4cv9t0

Validation complains that the id fields are not IRI (URI).  My reading of IRI is that they should be of the form scheme://host/resource.  id is defined in [RFC4287 § 4.2.6](https://tools.ietf.org/html/rfc4287#section-4.2.6).  The upshot is that these IDs should be universally unique (across all Atom feeds).

So:
/feed/id = https://www.reddit.com/r/PlantedTank (ie: canonical name of the subreddit)
/feed/entry/id = https://www.reddit.com/r/PlantedTank/comments/${comment}

The interesting files are at r2/r2/templates/base.xml for feed/id:

```
<%def name="Id()">
    ## the feed <id>, not the entry one
    ## https://tools.ietf.org/html/rfc4287#section-4.2.6

    <id>
        %if hasattr(thing, '_fullname'):
            ${thing._fullname}
        %else:
            ${request.fullpath}
        %endif
    </id>
</%def>
```

r2/r2/templates/comment.xml for feed/entry/id:

```
<id>${thing._fullname}</id>
```

This id code is all in e87de77b1aa5066491b24240731fa5fce5a4e8c0 by @ketralnis.

Unfortunately, this means that the IDs will change once this change is released.  However, InoReader is currently barfing on the feeds, so at least you'll make some people happy if this is changed (assuming this fixes it...)


It would be great to get this resolved :+1: 

+1!

+1

My feed widget-reader is too strict to comply as well.
https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fwww.reddit.com%2Fr%2FMensLib%2F.rss
It works in Thunderbird, though.