AttributeError: 'module' object has no attribute 'loads'

I upgraded Python from 2.7 > 3.3 and now I can not even seem to identify myself.

Anyone have any ideas on this?  The rest of my script seems to work and I have commented out everything, but theses two lines.


```
    import praw
    r = praw.Reddit(user_agent='Test4242')
```

___
```
    Traceback (most recent call last):
      File "praw_test.py", line 20, in <module>
        r = praw.Reddit(user_agent='Test4242')
      File "/usr/local/lib/python3.3/site-packages/praw/__init__.py", line 1256, in __init__
        super(AuthenticatedReddit, self).__init__(*args, **kwargs)
      File "/usr/local/lib/python3.3/site-packages/praw/__init__.py", line 651, in __init__
        super(OAuth2Reddit, self).__init__(*args, **kwargs)
      File "/usr/local/lib/python3.3/site-packages/praw/__init__.py", line 771, in __init__
        super(UnauthenticatedReddit, self).__init__(*args, **kwargs)
      File "/usr/local/lib/python3.3/site-packages/praw/__init__.py", line 374, in __init__
        update_check(__name__, __version__)
      File "/usr/local/lib/python3.3/site-packages/update_checker.py", line 170, in update_check
        result = checker.check(package_name, package_version, **extra_data)
      File "/usr/local/lib/python3.3/site-packages/update_checker.py", line 67, in wrapped
        retval = function(obj, package_name, package_version, **extra_data)
      File "/usr/local/lib/python3.3/site-packages/update_checker.py", line 128, in check
        data = response.json()
      **File "/usr/local/lib/python3.3/site-packages/requests/models.py", line 803, in json
        return complexjson.loads(
    AttributeError: 'module' object has no attribute 'loads'**
```


___
```
/usr/local/lib/python3.3/site-packages/requests/models.py

    def json(self, **kwargs):
        """Returns the json-encoded content of a response, if any.

        :param \*\*kwargs: Optional arguments that ``json.loads`` takes.
        """

        if not self.encoding and len(self.content) > 3:
            # No encoding set. JSON RFC 4627 section 3 states we should expect
            # UTF-8, -16 or -32. Detect which one to use; If the detection or
            # decoding fails, fall back to `self.text` (using chardet to make
            # a best guess).
            encoding = guess_json_utf(self.content)
            if encoding is not None:
                try:
                    return complexjson.loads(
                        self.content.decode(encoding), **kwargs
                    )
                except UnicodeDecodeError:
                    # Wrong UTF codec detected; usually because it's not UTF-8
                    # but some other 8-bit codec.  This is an RFC violation,
                    # and the server didn't bother to tell us what codec *was*
                    # used.
                    pass
        return complexjson.loads(self.text, **kwargs)
```

blew away the OS and rebuilt from scratch.  fixed.